	/*--------------------------轮播图-------------------*/


.shuffling{
    position:relative;
    width:100%;
    height:30vw;
    overflow:hidden;
}
.shuffling img{
    width:100%;
}
@-webkit-keyframes pic_00{				/*这是轮播图动画的地方*/
    0%{ margin-left:0 }
    13%{ margin-left:0 }
    25%{ margin-left:-100% }
    38%{ margin-left:-100% }
    50%{ margin-left:-200% }
    63%{ margin-left:-200% }
    75%{ margin-left:-300% }
    88%{ margin-left:-300% }
    100%{ margin-left:0 }
}
@-webkit-keyframes pic_01{
    0%{ margin-left:100% }
    13%{ margin-left:100% }
    25%{ margin-left:0 }
    38%{ margin-left:0 }
    50%{ margin-left:-100% }
    63%{ margin-left:-100% }
    75%{ margin-left:-200% }
    88%{ margin-left:-200% }
    100%{ margin-left:100% }
}
@-webkit-keyframes pic_02{
    0%{ margin-left:200% }
    13%{ margin-left:200% }
    25%{ margin-left:100% }
    38%{ margin-left:100% }
    50%{ margin-left:0 }
    63%{ margin-left:0 }
    75%{ margin-left:-100% }
    88%{ margin-left:-100% }
    100%{ margin-left:200% }
}
@-webkit-keyframes pic_03{
    0%{ margin-left:300% }
    13%{ margin-left:300% }
    25%{ margin-left:200% }
    38%{ margin-left:200% }
    50%{ margin-left:100% }
    63%{ margin-left:100% }
    75%{ margin-left:0 }
    88%{ margin-left:0 }
    100%{ margin-left:300% }
}


.banner-0{
    position:absolute;							/*定个位，大小设置下*/
    top:0;
    left:0;
    width:100%;
    -webkit-animation:pic_00 15s infinite;		/*轮播图行为名字 循环时间 重播不*/
}
.banner-1{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    -webkit-animation:pic_01 15s infinite;
}
.banner-2{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    -webkit-animation:pic_02 15s infinite;
}
.banner-3{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    -webkit-animation:pic_03 15s infinite;
}
