/*--------------------------main -------------------*/
.main-top {
  padding: .34rem 0 .13rem 0;
  font-size: .16rem;
  color: #333;
  max-width: 1200px;
  margin: 0 auto;
}
.main-top-left {
  font-size: .16rem;
  color: #333;
  text-decoration: none;
}
.main-top-right {
  font-size: .16rem;
  color: #29b078;
  text-decoration: none;
}
.main-top a:hover {
  text-decoration: none;
  color: #ff8b4a;
}
/*------------------------公司列表 土豆------------------------*/
.row5 {
  margin-bottom: .4rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
/*.main-content-left,.main-content-right{
	margin-top: 15px;
}*/
.main-content {
  width: 23%;
  margin: 1%;
}
.main-content-right {
  width: 72%;
  margin: 1%;
}
@media screen and (max-width: 767px) {
  .main-content {
    width: 100%;
    /*margin: 1%;*/
  }
  .main-content-right {
    width: 100%;
    /*margin: 1%;*/
  }
}
.main-content-left {
  border: 1px solid #ededed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.main-content-left p {
  font-size: .16rem;
  color: #333;
  padding: .21rem 0 .24rem 0;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}
.main-content-left ul a {
  text-align: center;
}
.main-content-left ul a li {
  text-decoration: none;
  color: #29b078;
  padding-top: .35rem;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 0;
}
.main-content-left ul a li span {
  font-size: .14rem;
  color: #29b078;
}
.yuan {
  display: inline-block;
  width: .1rem;
  height: .1rem;
  border-radius: 50%;
  border: 1px solid #ff640c;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.main-content-left ul a:hover {
  text-decoration: none;
}
.main-content-left ul a:hover span {
  color: #f9a372;
}
.main-content-left ul a:hover .yuan {
  background-color: #ff640c;
}
.main-content-right {
  border: 1px solid #e6e6e6;
  font-size: .14rem;
  line-height: .28rem;
  color: #999;
  text-indent: .25rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.main-content-right-top {
  border-bottom: 1px solid #e6e6e6;
  /*padding: .1rem .3rem;*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.main-content-right-top img {
  width: 1.2rem;
  margin: .58rem .37rem .66rem .86rem;
}
.main-content-right-top p {
  font-size: .14rem;
  color: #999;
  margin: .26rem .65rem 0 0rem;
}
.main-content-right-bottom p {
  font-size: .14rem;
  color: #999;
  margin: .35rem .75rem 0 .69rem;
}
