*{margin:0;padding:0;} 
.wrap{
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	} 

.task{
	
	width: 30%;
	margin: 1%;		
	background-color: rgb(255,166,0);
	float:left;		
	border-radius:10%;

 	padding: 0 0 27% 0 ;		这里因为HTML中加了文字task 所以宽度长了
 }






