*{margin:0;padding:0;}  
.yellow{

	width: 30%;	/*不能用height:30%; 就算这个高padding用左右也不行*/
	
	margin: 0.5%;	/*这里margin+width都没用到100%，所以多余的会出现在右边，右边白色的多一点*/
	
	background-color: rgb(255,166,0);
	float:left;
	border-radius:10%;

 	padding:0% 0% 30% 0%;		/*不能放左右padding:0 0 0 30%; 可以上下的padding:0 0% 30% 0%;因为左右有了width但不能用height 用padding的上下来调整填充为正方形九宫格*/
}



