html {
  font-size: 625%;
  font-family: "STheiti", Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 611px) {
  html {
    font-size: 550%;
  }
}
@media screen and (max-width: 540px) {
  html {
    font-size: 500%;
  }
}
@media screen and (max-width: 498px) {
  html {
    font-size: 450%;
  }
}
@media screen and (max-width: 438px) {
  html {
    font-size: 400%;
  }
}
@media screen and (max-width: 413px) {
  html {
    font-size: 300%;
  }
}
html,
body,
div,
span,
img,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style-type: none;
}
/*以上初始化*/
body {
  max-width: 720px;
  margin: 0 auto;
}
header {
  position: fixed;
  top: 0;
  margin: 0 auto;
  min-width: 320px;
  max-width: 720px;
  width: 100%;
  padding: .1rem 0;
  background-color: #5fc0cd;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
  /*清楚inline-block的空隙*/
  z-index: 2;
}
header div button {
  border: 0;
  padding: .18rem;
  border-radius: 8px;
  font-size: .34rem;
}
header div .button-left {
  background-color: #55a8b3;
  color: #fff;
}
header div .button-right {
  background-color: #fff;
  color: #5fc0cd;
  margin-left: -0.1rem;
  /*稍微重叠*/
}
header img {
  width: .43rem;
  /*text-align: right;*/
  margin-right: .3rem;
}
main {
  margin: 1.2rem 0 1rem 0;
  min-width: 320px;
  max-width: 720px;
}
main .main-top {
  font-size: .28rem;
  color: #999;
  border-bottom: 1px solid #e1e5e7;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
main .main-top .dropdown {
  width: 30%;
  text-align: center;
  position: relative;
  margin: 0 1%;
}
main .main-top .dropdown .drop-title {
  display: inline-block;
  width: 100%;
  margin-bottom: .2rem;
  background-color: #fff;
  font-size: .28rem;
  color: #999;
  text-align: center;
}
main .main-top .dropdown .border-right {
  border-right: 1px solid #e1e5e7;
}
main .main-top .dropdown .drop-title::after {
  content: "▼";
  font-size: .1rem;
  position: absolute;
  top: .1rem;
  right: .10rem;
  color: #ccc;
}
main .main-top select {
  width: 100%;
  font-size: .25rem;
  color: #999;
  opacity: 0;
  position: absolute;
  top: .1rem;
  left: .03rem;
}
.main-content {
  margin-bottom: 1.6rem;
}
.main-content-row {
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e5e7;
  padding: .3rem ;
}
.main-content-row .main-content-left {
  /*padding-left: .3rem !important;*/
  display: flex;
  display: -webkit-flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.main-content-row .main-content-left div {
  font-size: 0;
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.main-content-row .main-content-left div img {
  display: inline-block;
  width: .25rem;
}
.main-content-row .main-content-left div span {
  font-size: .28rem;
  color: #999;
  margin-left: .15rem;
  vertical-align: middle;
}
.main-content-row .main-content-left .black {
  font-size: .28rem;
  color: #333;
  padding: .23rem 0 .23rem .5rem;
}
.main-content-row .main-content-right {
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.main-content-row .main-content-right div {
  font-size: 0;
}
.main-content-row .main-content-right div p {
  font-size: .3rem;
  color: #e63b0e;
  margin-right: .2rem;
}
.main-content-row .main-content-right div img {
  width: .21rem;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  min-width: 320px;
  max-width: 720px;
  width: 100%;
  background-color: #f8fafb;
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
footer .footer-left {
  margin-left: 1.6rem;
  text-align: center;
  font-size: 0;
}
footer .footer-left img {
  width: .47rem;
}
footer .footer-left p {
  font-size: .2rem;
  color: #5fc0cd;
  margin-top: .17rem;
}
footer .footer-middle {
  width: .98rem;
  height: .98rem;
  border-radius: 50%;
  background-color: #5fc0cd;
  background-size: 100% 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
footer .footer-middle img {
  width: .42rem;
}
footer .footer-right {
  margin-right: 1.6rem;
  text-align: center;
  font-size: 0;
}
footer .footer-right img {
  width: .47rem;
}
footer .footer-right p {
  font-size: .2rem;
  color: #999;
  margin-top: .17rem;
}
