html{
	font-size: 62.5%;
	font-family:  Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 720px)
{
	html{
	font-size: 60%;
	}
}

@media screen and (max-width: 540px)
{
	html{
	font-size: 50%;
	}
}
@media screen and (max-width: 480px)
{
	html{
	font-size: 40%;
	}
}

@media screen and (max-width: 320px)
{
	html{
	font-size: 30%;
	}

}

html,body,div,span,img,ul,li,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style-type: none;
}


/*以上初始化*/


header{
	position: fixed;
	top: 0;left: 0;right: 0;

	min-width: 320px;
	width: 100%;
	background-color: rgb(41,189,224) ;
	padding: 1.5rem;

	z-index: 1;

}

header img{
	height: 2.5rem;
}

/*header div{				不用雪碧图了
	background-image: url(images/img.png);

	height:40px;width:39px;
	background-position:0 -95px;
}
*/
main{
	margin-top:5.5rem;
	padding: 2rem;
	font-size: 2.5rem;
	color: #9a9a9a;
	background-color: #f0f0f0;

	text-align: center;
}

.main-top{
	border: 1px solid #c9c9c9;
	padding: 2rem 0;
	margin-bottom: 1.5rem;
	background-color: #ffffff;

	font-size: 3rem;

	display: flex;
	display: -webkit-flex;

	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
/*	text-align: center;

	position: relative;*/
}

.arrow{
/*	background-image: url(images/img.png);		
	height:40px;width:24px;		
	background-position:0 0;	*/

	height: 2.5rem;

/*	position: absolute;
	right: 2rem;
	top: 2rem; */

}

.main-content{
	border:1px solid #000;
	background-color: #ffffff;

	position: relative;
}

.main-content-title{
	color: #fbb435;
	border-bottom: 1px solid #fdb435;
	padding: 2rem 0;
}

.main-content-list{
	margin:2rem 4rem;
}

.version{
	padding: 2rem 0;
	background-color: #69d1e9;
	color: #fff;

}

.number{
	padding: 1rem 0;
}

.t333{
	position: absolute;
	right: 12px;
	top: 47%;

	width: 0;height: 0;
	border-width: 1.5rem 0 1.5rem 1.5rem;
	border-style: solid;
	border-color: #fbb435;

	border-top-color: #fff;
	border-bottom-color: #fff;
}




.circus{
	display: inline-block;
	width: 1.5rem;height: 1.5rem;
	border-radius: 50%;
	background-color: #f0f0f0;
}



.circus:hover{
	background-color: #69d1e9 !important;
	cursor: pointer;
}


