*{margin: 0;padding: 0;}



html{

	font-size: 625%;
	font-family: "heiti",Arial, Helvetica, sans-serif;
    color: #FFF;
	margin: 0 auto;
}


@media screen and (max-width: 611px)			
{
	html{
	font-size: 550%;
	}
}

@media screen and (max-width: 540px)			
{
	html{
	font-size: 500%;
	}
}
@media screen and (max-width: 498px)
{
	html{
	font-size: 450%;
	}

}

@media screen and (max-width: 438px)
{
	html{
	font-size: 400%;
	}

}

@media screen and (max-width: 413px)
{
	html{
	font-size: 300%;
	}

}

body{
	max-width: 720px;
	margin: 0 auto;
	background-color: #eff0f4;
}

header{
	background-color: #5fc0cd;
	font-size: .32rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

header .left{
	display: inline-block;
	float: left;
	margin: .3rem;
	text-decoration:none;	/*这里用这个语句去掉超链接的下划线*/
	color: #fff;			/*这里字体颜色设置为白色，把蓝色的换掉*/
}

header p{
	font-size: .36rem;
	color: #fff;
	text-align: center;
}

header .right{
	display: inline-block;
	margin: .3rem;
	text-decoration:none;	/*这里用这个语句去掉超链接的下划线*/
	color: #fff;			/*这里字体颜色设置为白色，把蓝色的换掉*/
}


.container form{
	padding-bottom: .69rem;
}

.username,.password{
	margin-top: .16rem;
	padding: .25rem .3rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	background-color: #fff;
	
}

.username img,.password img{
	display: inline-block;
	width: .27rem;
	padding: 0 .46rem 0 .13rem;
}

.username input,.password input{
	width: 100%;
	border: 0;		/*去掉所有的边框*/
	border-left: 2px solid #eaedee;  /*这是黑色一竖 /*再在左边加上边框*/
	font-size: .32rem;
	color: #e1e5e7;
	
	padding-left: .33rem;

}



.container-bottom{
	background-color: #5fc0cd;
	text-align: center;
}

.container-bottom a{
	display: block;
	font-size: .36rem;
	color: #fff;	
	text-decoration:none;	
	
	padding: .34rem 0;	
}

footer a{
	display: block;
	float: right;
	font-size: .32rem;
	color: #5fc0cd;			
	text-decoration: none;
	padding: .2rem .3rem;
}