html{
	font-size: 62.5%;
	font-family:  Arial, Helvetica, sans-serif;

}
@media screen and (max-width: 540px)			
{
	html{
	font-size: 50%;
	}
}
@media screen and (max-width: 480px)
{
	html{
	font-size: 40%;
	}

}

@media screen and (max-width: 320px)
{
	html{
	font-size: 40%;
	}

}
html,body,div,span,img,ul,li,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style-type: none;
}

a{
	text-decoration: none;
}
/*以上初始化*/

body{
	background-color: #29bde0;
}


header{
	background-color: #29bde0;
	padding: 1rem 0;
	margin: 0 1rem;

	display: flex;
	display: -webkit-flex;

	flex: row nowrap;
	justify-content: space-between;
	align-items: center;
}

header img{
	height: 2rem;
}

header p{
	font-size: 2.5rem;
	color: #fff;
	text-align: center;
}






.main-top{
	background-color: #b9e9f5;

	padding: 1rem 1rem 1rem 2rem;

	display: flex;
	display: -webkit-flex;

	flex: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.main-top p{
	font-size: 2rem;
	color: #464646;	
}


.main-top img{
	height: 2.5rem;
}

audio{
	display: none;
}






 
.title{
	background-color: #29bde0;
	padding: 1.5rem 1.5rem 1.5rem 3rem;

	font-size: 2rem;
	color: #fff;

	position: relative;
}

.t3{
	position: absolute;
	top: 0rem;
	left: 2.5rem;
	

	width: 0;height: 0;
	border-width: 1rem 1rem 0 1rem;
	border-style: solid;
	border-color: #29bde0;

	border-top-color: #b9e9f5;
	border-bottom-color: #b9e9f5;
}





.main-content{
	width: 80%

	background-color: #29bde0;
		
	margin: 1rem 2rem 1rem 2rem;

}

.row{
	overflow: hidden;
	text-align: center;
	margin-bottom: 9rem;
}

.box{
    float: left;
    overflow: hidden;
    margin: 5% 0 0 5%;
    width: 26%;
    text-align: center;

}

.name {
    padding: 25% 0;
    font-size: 2rem;
    color: #565656;
    background-color: #f5c97b;

    border: 4px solid #fff;
    border-bottom: none;
}

.number {
 /*   margin: 0;*/
    padding: 2%;
    color: #fff;
    background-color: #83b09a;
    border: 4px solid #fff;
    border-top: none;
}


.box-bottom img{ 
    margin-top: 10%;
    width: 100%;

    opacity: 0;
}

.box:hover img{
	opacity: 1;
}


footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 2;

	background-color: #29bde0;
	padding: 2rem 0;	
	

	text-align: center;

	margin: 0 auto;

}

footer button{
	width: 70%;
	border:0;
	background-color: #fbb435;
	padding: 1rem 0;
	/*margin: 0 1rem;*/
	text-align: center;

	font-size: 3rem ;
	color: #fff;
}
