html {
  font-size: 625%;
  font-family: "STHeiti", Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 611px) {
  html {
    font-size: 550%;
  }
}
@media screen and (max-width: 540px) {
  html {
    font-size: 500%;
  }
}
@media screen and (max-width: 498px) {
  html {
    font-size: 450%;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 420%;
  }
}
@media screen and (max-width: 380px) {
  html {
    font-size: 400%;
  }
}
html,
body,
div,
span,
img,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style-type: none;
}
/*以上初始化*/
/*--------------------header------------------*/
body {
  max-width: 720px;
  margin: 0 auto;
}
header {
  position: fixed;
  top: 0;
  min-width: 320px;
  max-width: 720px;
  width: 100%;
  background-color: #5fc0cd;
  padding: .2rem 0;
  /*	overflow: hidden;*/
  z-index: 2;
  /*防止main和footer遮住header*/
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: .23rem;
  margin-left: .3rem;
}
header h2 {
  display: inline-block;
  font-size: .36rem;
  color: #fff;
}
header div {
  width: .1rem;
  height: .1rem;
}
/*--------------------main------------------*/
main {
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
  background-color: #fff;
  color: #333333;
  text-align: left;
  /*消除html中的居中*/
}
main .main-top {
  margin-top: .8rem;
  background: url(images/bcg.png) no-repeat center;
  background-size: cover;
  padding: .8rem 0 .8rem .3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
main .main-top .usr-img {
  display: inline-block;
  /*这里设置为inline-block可以使div的变成一行*/
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  padding: 0  ;
  background-color: #fff;
  overflow: hidden;
}
main .main-top .usr-img img {
  display: block;
  padding: .18rem .28rem 0 .28rem;
  width: 1.14rem;
  margin: 0;
}
main .main-top .usr-inf {
  display: inline-block;
  padding-left: .4rem;
  color: #fff;
  vertical-align: middle;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
main .main-top .usr-inf .usr-name {
  display: inline-block;
  font-size: .36rem;
  margin-bottom: .24rem;
}
main .main-top .usr-inf .usr-name .usr-age {
  display: inline-block;
  font-size: .28rem;
  vertical-align: text-bottom;
}
main .main-top .usr-inf .usr-location {
  font-size: .24rem;
}
main .main-top .usr-inf .usr-location img {
  display: inline-block;
  width: .18rem;
  /*height: .15rem;*/
  vertical-align: middle;
}
main .main-content {
  color: #333333;
  /*内容字体设置为黑，靠左对齐*/
  text-align: left;
  margin-bottom: 1.2rem;
}
main .main-content ul {
  list-style-type: none;
}
main .main-content ul li {
  list-style-type: none;
  border-bottom: 1px solid #e1e5e7;
  padding: .3rem 0 ;
  margin-left: .3rem;
  font-size: .32rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
main .main-content ul li .skill {
  padding-left: .3rem;
  border-left: 3px solid #5fc0cd;
  color: #333;
}
main .main-content ul li .list-left {
  margin-left: .3rem;
  padding-right: .28rem;
  border-right: 1px solid #e1e5e7;
  display: inline-block;
  /*主要是这里还有width*/
  color: #999;
  white-space: nowrap;
}
main .main-content ul li .list-right {
  margin-left: .28rem;
}
main .main-content ul li .star {
  color: #333;
  margin-left: .24rem;
}
main .main-content ul li .star img {
  width: .24rem;
}
main .main-content ul li .wage {
  color: #e26163;
}
main .main-content ul li .self-intro {
  display: inline-block;
  /*width: 50%;*/
  font-size: .24rem;
  font-weight: bold;
  padding-right: .89rem;
}
/*-----------------footer--------------------*/
footer {
  position: fixed;
  bottom: 0;
  margin: 0 auto ;
  min-width: 320px;
  max-width: 720px;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-self: center;
}
footer button {
  display: inline-block;
  width: 46%;
  /*	height: 5rem;
		line-height: 5rem;*/
  padding: .2rem 0;
  margin: .13rem;
  border: none;
  border: 2px solid #5fc0cd;
  border-radius: 7px;
  font-size: .34rem;
}
footer .message {
  color: #5fc0cd;
  background-color: #fff;
}
footer .tel {
  color: #fff;
  background-color: #5fc0cd;
}
