*{margin:0;padding:0;} 
.wrap{
	margin: 0 auto;
					/*加了这个 max-width: 500px;也没用*/
					/*其实已经居中了，只是看不出来，被margin弄乱了，主要还是把margin按100分配好就行了*/
	/*clear: both;	*//*有浮动就要清除下 overflow：hidden也可以清楚浮动，直接给父元素设就行，clear：both是要给父元素再放个div然后给这个div设置。*/
	overflow: hidden;	/*http://www.cnblogs.com/socool-hu/p/5633110.html  clear是子模块之间限定的,而overflow:hidden是父模块对子模块来用的,overflow:hidden这个属性的作用是隐藏溢出,比如内元素比外元素大，用了overfl后就把内元素限制在外元素中，不出来。若外没有高度，用了overflow就把内元素把外元素撑开。父固定高就按父（这叫hidden），没有就按子这么高*/
/*						overflow:hidden 不能清除浮动吧，作用是超出区域则隐藏，不出现滚动条。如果当前div没有高宽限制，则随内边的容器而变化。clear:both 就是清除浮动吧。
*/} 
.yellow{
	
	/*width: 30%;*/	/*不能用height:30%; 就算这个高padding用左右也不行*/
/*					height没意义网页原则上无限高，而且一旦浮动高度就没了，所以别用了，用padding
*/	
	margin: 1.6%;	/*这里margin+width都没用到100%，所以多余的会出现在右边，右边白色的多一点*/
					/*改成margin: 1.6%;右边就没那么多空*/

					/*关于margin重叠，在正常文档流中才会重叠三种情况，全正或全负选绝对值的大者。有正负就选差值。*/
					/*有float和absolute这样就不会重叠，设置设置了display:inline-block的元素http://blog.sina.com.cn/s/blog_51048da701017zl7.html*/
	background-color: rgb(255,166,0);
	float:left;		/*一浮动高度就没了注意*/
	border-radius:10%;

 	padding: 15% ;		/*若是width：30%；就不能放左右padding:0 0 0 30%; 可以上下的padding:0 0% 30% 0%;因为左右有了width但不能用height 用padding的上下来调整填充为正方形九宫格*/
						/*padding: 15% 就是上15 下15 左15和右15就是一个占正方形30%*/
						/*这样就不用width了*/						
}

/*总结就是正方形可以用width+padding做，height不能用。
但直接用padding就也能完成*/





