/* line 1, task11.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/html\/IT\/task11\/task11\.less}line{font-family:\000031}}
html,
body,
div,
span,
img,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
/* line 5, task11.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/html\/IT\/task11\/task11\.less}line{font-family:\000035}}
ul,
li {
  list-style-type: none;
}
/* line 9, task11.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/html\/IT\/task11\/task11\.less}line{font-family:\000039}}
a {
  text-decoration: none;
}
/* line 13, task11.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/html\/IT\/task11\/task11\.less}line{font-family:\0000313}}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 720px) {
  /* line 20, task11.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/html\/IT\/task11\/task11\.less}line{font-family:\0000320}}
  html {
    font-size: 50%;
  }
}
/*以上初始化*/
/*变量*/
/* line 38, task11.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/html\/IT\/task11\/task11\.less}line{font-family:\0000338}}
.container-fluid {
  background-color: #eff0f4
  /*白色有点灰*/
}
/*-------------头部↓------------*/
/* line 44, task11.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/html\/IT\/task11\/task11\.less}line{font-family:\0000344}}
.header {
  background-color: #5fc0cd;
  /*蓝色*/
  padding: 1rem 0;
  font-size: 2rem;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 56, task11.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/html\/IT\/task11\/task11\.less}line{font-family:\0000356}}
.header .left,
.header .right {
  text-decoration: none;
  color: #ffffff;
}
/* line 61, task11.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/html\/IT\/task11\/task11\.less}line{font-family:\0000361}}
.header p {
  font-size: 2.5rem;
  margin: 0;
}
/*-------------头部↑------------*/
/*---------------用户名密码↓------------*/
/* line 75, task11.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/html\/IT\/task11\/task11\.less}line{font-family:\0000375}}
.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* line 81, task11.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/html\/IT\/task11\/task11\.less}line{font-family:\0000381}}
.username,
.password {
  background-color: #ffffff;
  padding: 1rem ;
  margin: 0.5rem 0 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 91, task11.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/html\/IT\/task11\/task11\.less}line{font-family:\0000391}}
.username img,
.password img {
  width: 2rem;
}
/* line 95, task11.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/html\/IT\/task11\/task11\.less}line{font-family:\0000395}}
.username input,
.password input {
  margin-left: 2rem;
  padding-left: 2rem;
  border: 0;
  width: 100%;
  border-left: 2px solid #eff0f4;
  font-size: 2rem;
}
/*---------------用户名密码↑------------*/
/* line 111, task11.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/html\/IT\/task11\/task11\.less}line{font-family:\00003111}}
.login {
  background-color: #5fc0cd;
  /*蓝色*/
  padding: 1rem 0;
  margin-top: 3rem;
  font-size: 2.5rem;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 124, task11.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/html\/IT\/task11\/task11\.less}line{font-family:\00003124}}
.login a {
  text-decoration: none;
  color: #ffffff;
}
/* line 129, task11.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/html\/IT\/task11\/task11\.less}line{font-family:\00003129}}
.login:hover {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
/*---------------footer  ↓------------*/
/* line 140, task11.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/html\/IT\/task11\/task11\.less}line{font-family:\00003140}}
.footer a {
  background-color: #eff0f4;
  padding: 1rem 0;
  font-size: 2rem;
  color: #5fc0cd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 151, task11.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/html\/IT\/task11\/task11\.less}line{font-family:\00003151}}
.footer a:hover {
  text-decoration: none;
  color: #5fc0cd;
  cursor: pointer;
}
/*# sourceMappingURL=task11.css.map */