html{
	font-size: 62.5%;
	font-family:  Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 720px)
{
	html{
	font-size: 60%;
	}
}

@media screen and (max-width: 540px)
{
	html{
	font-size: 50%;
	}
}
@media screen and (max-width: 480px)
{
	html{
	font-size: 40%;
	}
}

@media screen and (max-width: 320px)
{
	html{
	font-size: 30%;
	}

}

html,body,div,span,img,ul,li,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style-type: none;
}

a{
	text-decoration: none;
}
/*以上初始化*/

.header-top{
	background-color: #fff;
	font-size: 1rem;
	color: #29b078;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 1rem 0;
}

.tel{
	text-align: left;
}

.login{
	text-align: right;
}

.header-nav{
	background-color: #29b078;

	display: flex;
    /*justify-content: flex-end;*/
    align-items: center;
}

.jnshu{
	text-align: left;
}


.header-nav-right ul{
	text-align: right;

	display: flex;
    justify-content: flex-end;
    align-items: center;
	
	margin-bottom: 0;
	height: 5rem;
	
}

.nav-li{
	list-style-type: none;
	float: left;

	width: 5rem;
	height: 5rem;

	display: flex;
    justify-content: center;
    align-items: center;


    /*border-bottom: 5px solid transparent;*/
}

.nav-li a{
	height: 5rem;

	font-size: 2rem;
	color: #fff;	

	padding: 1rem 0;


}

.nav-li a:hover{
	text-decoration: none;
	color: #fff;

	border-bottom: 3px solid #fff;
}

.header-bcg{
	background-color: #f1a750;
}

.header-bcg img{
	width: 100%;
	height: auto;

}














