/*--------------------------main 首页-------------------*/
main {
  margin-bottom: 2.3rem;
}
.main-top {
  max-width: 1200px;
  margin: 0 auto;
  padding: .31rem 0;
  border-bottom: 1px solid #d0d6d9;
  font-size: .16rem;
  color: #333;
  text-decoration: none;
}
.main-top-left {
  /*font-size: .16rem;*/
  color: #333;
  text-decoration: none;
}
.main-top-right {
  /*font-size: .15rem;*/
  color: #29b078;
  text-decoration: none;
}
.main-top a:hover {
  text-decoration: none;
  color: #ff8b4a;
}
/*--------------------------main 职业方向-------------------*/
.main-major {
  max-width: 1200px;
  margin: 0 auto;
  padding: .21rem 0;
  font-size: .14rem;
  border-bottom: 1px solid #edf1f2;
}
.one {
  color: #999;
}
.major-bcg {
  display: inline-block;
  /*a标签加宽度要block 或 inline-block*/
  /*width: .7rem;*/
  text-align: center;
  text-decoration: none;
  color: #333;
  margin-right: .28rem;
}
.major-bcg:hover {
  text-decoration: none;
  color: #fff;
  background-color: #29b078;
}
/*.major-bcg:visited{
	text-decoration: none;
	color: #000;
	background-color: #29b078;	
}*/
/*--------------------------main 前端方向-------------------*/
.main-title {
  /*这里有padding是main-title的*/
  max-width: 1200px;
  margin: 0 auto;
  font-size: .16rem;
  color: #333;
  font-weight: bold;
  padding: .32rem 0;
  text-align: left;
  border-bottom: 1px solid #d0d6d9;
  margin-bottom: 0;
}
.main-title a,
.main-title a:hover {
  text-decoration: none;
  color: #000;
}
/*--------------------------每个人-------------------*/
.row6 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
/*------------.main-person-row1 Web前端工程师 ---------------*/
.main-person {
  margin: 0 .6%;
  margin-top: .46rem;
  width: 32%;
}
@media screen and (max-width: 991px) {
  .main-person {
    width: 98%;
    margin: 2% auto;
  }
  .kong {
    width: 100%;
  }
}
.kong {
  /*用来调整444之间间隙 不能直接对main-person*/
  border: 1px solid #e2e2e2;
  /*max-width: 3.84rem;*/
  position: relative;
  /*定位那个IOS透明色的*/
}
.main-person-row1 {
  border-bottom: 1px solid #edf1f2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.main-person-row1-left img {
  width: 1.39rem;
  margin: .21rem .1rem .16rem .11rem;
}
.main-person-row1-right {
  margin-right: .11rem;
}
.main-person-row1-right-top {
  font-size: .16rem;
  color: #333;
  font-weight: bold;
}
.main-person-row1-right-content {
  font-size: .14rem;
  color: #333;
}
/*------------.main-person-row2 门槛  难易程度---------------*/
.main-person-row2 {
  border-bottom: 1px solid #edf1f2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.main-person-row2-left {
  width: 48%;
  padding: .15rem 0 .15rem .11rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.main-person-row2-left span {
  font-size: .12rem;
  color: #999;
}
.main-person-row2-right {
  padding: .15rem 0 .15rem .11rem;
  border-left: 1px solid #edf1f2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.main-person-row2-right span {
  font-size: .12rem;
  color: #999;
}
.star {
  width: .16rem;
  margin-left: .15rem;
  vertical-align: middle;
}
/*------------.main-person-row3 成长周期---------------*/
.main-person-row3 {
  border-bottom: 1px solid #edf1f2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.main-person-row3-left {
  width: 48%;
  padding: .15rem 0 .15rem .11rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.main-person-row3-left span {
  font-size: .12rem;
  color: #999;
}
.main-person-row3-left .red {
  margin-left: .1rem;
  color: #f01400;
}
.main-person-row3-left .black {
  color: #333;
}
.main-person-row3-right {
  padding: .15rem 0 .15rem .11rem;
  border-left: 1px solid #edf1f2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.main-person-row3-right span {
  font-size: .12rem;
  color: #999;
}
.main-person-row3-right .red {
  margin-left: .1rem;
  color: #f01400;
}
.main-person-row3-right .black {
  color: #333;
}
/*------------.main-person-row4 薪资待遇---------------*/
.main-person-row4 {
  border-bottom: 1px solid #edf1f2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.main-person-row4-left {
  width: 38%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.main-person-row4-left p {
  font-size: .12rem;
  color: #999;
}
.main-person-row4-right {
  width: 62%;
  border-left: 1px solid #edf1f2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  /*	align-items: center;*/
}
.main-person-row4-right p {
  padding: .15rem .15rem .15rem .25rem;
  margin-bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: .12rem;
  color: #333;
}
.salary-year1,
.salary-year2 {
  border-bottom: 1px solid #edf1f2;
}
/*------------.main-person-row5 有286人正在学---------------*/
.main-person-row5 {
  padding: .11rem 0 .11rem .11rem;
  font-size: .14rem;
  color: #333;
  border-bottom: 1px solid #edf1f2;
}
.main-person-row5 .red {
  color: #f01400;
}
/*------------.main-person-row6 提示：在你学习之前---------------*/
.main-person-row6 {
  padding: .11rem 0 .11rem .11rem;
  font-size: .12rem;
  color: #999;
}
/*------------.showIOS 隐藏---------------*/
.showIOS {
  font-size: .16rem;
  color: #fff;
  padding: 0 .42rem;
}
.showIOS-top {
  font-size: .16rem;
  color: #fff;
  text-align: center;
  margin-top: .87rem;
}
.showIOS-content {
  font-size: .16rem;
  color: #fff;
  margin-top: .37rem;
  padding: 0 .15rem;
}
.showIOS {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  opacity: 0;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}
.showIOS:hover {
  opacity: 1;
}
