html{
	font-size: 625%;
	font-family:  黑体,Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 611px)			
{
	html{
	font-size: 550%;
	}
}

@media screen and (max-width: 540px)			
{
	html{
	font-size: 500%;
	}
}
@media screen and (max-width: 498px)
{
	html{
	font-size: 450%;
	}

}

@media screen and (max-width: 438px)
{
	html{
	font-size: 400%;
	}

}

@media screen and (max-width: 413px)
{
	html{
	font-size: 300%;
	}

}



html,body,div,span,img,ul,li,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style-type: none;
}


/*以上初始化*/
body{
	max-width: 720px;
	margin: 0 auto;
}

header{
	position: fixed;
	top: 0;

	margin: 0 auto;
	min-width: 320px;
	max-width: 720px;
	width: 100%;

	padding:.1rem 0;
	background-color: rgb(95,192,205);
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	font-size: 0;		/*清楚inline-block的空隙*/

	z-index: 2;
}

header button{
	border:0;

	padding: .18rem;
	border-radius: 8px;

	font-size: .34rem;
}

.button-left{
	background-color: rgb(85,168,179);
	color: #fff;
}

.button-right{
	background-color: #fff;
	color: rgb(95,192,205);

	margin-left: -0.1rem;	/*稍微重叠*/

}

header img{
	width: .43rem;
	/*text-align: right;*/
	margin-right: .3rem;
}



main{
	margin: 1.2rem 0 1rem 0;
	min-width: 320px;
	max-width: 720px;
}

.main-top{
	font-size: .28rem;
	color: #999;

	border-bottom: 1px solid #e1e5e7;
/*	display: flex;		这里不能用flex不然bs的444会有问题
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;*/
}

.btn{
	padding: .06rem .12rem !important;
}

.xiala{
	width: 100%;
	background-color: #fff;
	font-size: .28rem;
	color: #999;

	margin-bottom: .2rem;
	position: relative;
}

.xialaBorder{
	border-right: 1px solid #e1e5e7;
	/*border-image-right: -webkit-linear-gradient( #e1e5e7, #fff) 30 30;*/
	
}

.third3{
	border-top: .07rem dashed ;
	border-right: .07rem solid transparent;
	border-left: .07rem solid transparent;
	color: #afbac0;
	position: absolute;
	right: .12rem;
	top: 50%;
}

.dropdown-menu{
	min-width: 80% !important;
}



.main-content-row{
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;        
	justify-content: space-between;		
	align-items: center; 

	border-bottom: 1px solid #e1e5e7;

	padding: .3rem 0;

}

.main-content-left{
	padding-left: .3rem !important;
	padding-right: 0!important;
}

.main-content-left span{
	font-size: .28rem;
	color: #999;
	margin-left: .15rem;

	vertical-align: middle;
}

.main-content-left img{
	width: .25rem;
}


.black{
	font-size: .28rem;
	color: #333;
	padding: .23rem 0 .23rem .38rem;
}


.main-content-right{
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;        
	justify-content: flex-end;		
	align-items: center;        
	
	padding-left: 0!important;
	padding-right: .3rem !important;
}

.main-content-right p{
	font-size: .3rem;
	color: #e63b0e;
	margin-right: .2rem;
}

.main-content-right img{
	width: .21rem;
}



footer{
	position: fixed;
	bottom: 0;left: 0;right: 0;

	margin: 0 auto;
	min-width: 320px;
	max-width: 720px;
	width: 100%;

	background-color: rgb(248,250,251); 

	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;        
	justify-content: space-between;		
	align-items: center; 
	
}



.footer-left{
	margin-left: 1.6rem;
	text-align: center;
}

.footer-left img,.footer-right img{
	width: .47rem;
}
.footer-left p{
	font-size: .2rem;
	color: #5fc0cd;

	margin-top: .17rem;
}


.footer-middle{
	width: .98rem;
	height: .98rem;
	

	border-radius: 50%;
	background-color: rgb(95,192,205);
	background-size: 100% 100%;


/*	为了对里面的img垂直居中（因为不能用vertical-align: middle;），就在用一次flex*/
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;        
	justify-content: center;		
	align-items: center;        
	

}

.footer-middle img{
	width: .42rem;
}

.footer-right{
	margin-right: 1.6rem;
	text-align: center;
}

.footer-right p{
	font-size: .2rem;
	color: #999;

	margin-top: .17rem;
}






