*{margin: 0;padding: 0;}

html{
	font: 62.5%/4rem Microsoft YaHei, Arial, Helvetica, sans-serif;
    
    min-width: 320px;
   	
    
  	text-align: center;
  	height: auto;
}

body{
	margin: 0 auto;		/*和html中的text-align配合用*/
}


header{
	margin: 0 auto;
	width: 100%;

	position: fixed;
	top: 0;left: 0;right: 0;
	height: 4rem;		/*高度固定上下居中*/
	line-height: 4rem;
	
	background-color: rgb(95,192,205);	/*背景色蓝 字体白色*/
	color: #FFF;

	overflow: hidden;
	z-index: 100;		/*防止main和footer遮住header*/
}

header a{
	float: left;
	margin: 10px 0 10px 10px;
}

header h2{
	margin: 0 auto;
	text-align: center;
	font-size: 2rem;
	
}

main{
	font-size: 2rem;
	position: relative;		
	/*top: 4rem;*/ left: 0;right: 0;		/*上下只能有一个*/
	bottom: 4.3rem;			/*这里稍微抬高点 可以看到最后一行的下border*/
	overflow-y: scroll;
	text-align: left;		/*消除html中的居中*/

}

/*.main-top{				这里不知道什么错误就是和下面显示不一样
	margin-top: 4rem;

	width: 100%;
	min-height: 2rem;
	background-image: url(images/bcg.png) no-repeat center;
	background-size: cover;

}
*/
.main-top{
	margin-top: 8rem;		/*为啥是8个rem不是4个*/
	/*height: 24rem;*/		/*max-   这里就是图片不能拉长*position: relative; 图片显示不用这个只要background-zise不过为啥前面的背景显示不了*/
	background: url(images/bcg.png) no-repeat center;
	background-size: cover;		/*这个属性会保持图像本身的宽高比例,将图片缩放到正好完全覆盖定义背景的区域*/

	
}


.main-top .usr-img{
	display: inline-block;		/*这里设置为inline-block可以使div的变成一行*/
	padding: 5% 0 4% 2%; 
}

.main-top .usr-inf{
	display: inline-block;
	width: 50%;
	color:#fff;
	padding-left: 2rem;
}

.main-content{
	color: #000;		/*内容字体设置为黑，靠左对齐*/
	text-align: left;

}

.main-content .title{
	
	border-bottom: 1px solid #ccc;
}

.main-content .title .skill{
	margin-left: 2rem;
	
	padding:0.5rem 1rem;
	border-left: 2px solid rgb(95,192,205);
	
}

td{
	list-style: none;
	
	border-bottom: 1px solid #ccc;
	
}

/*.main-content .title .list*/

.list-left{
	min-width: 7rem;
	padding: 0.5rem 4rem;
}



.list-right{
	padding: 0.5rem 4rem;
	/*border-left: 1px solid #ccc;	*/	/*这里不能用左边框，因为这个是表格，高度不会变的*/
	width: 100%;

}

.star{
	border-left: 0px;
}

.color{
	color: #f00;
}


.j{
	border-left: 2px solid #ccc;
	margin-left: -4rem;
	padding-left: 4rem;
}









footer{
	margin: 0 auto;
	width: 100%;

	position: fixed;
	bottom: 0;left: 0;right: 0;
	height: 4rem;		/*高度固定上下居中*/
	line-height: 4rem;
}

button{
	border:none;
	border:2px solid rgb(95,192,205);
	border-radius: 2px;	

	margin:0 2%;
	width: 46%;
	height: 4rem;

	float: left;

	font-size: 2rem;
	font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
}

.message{
	color: rgb(95,192,205);
	background-color: #fff;
}

.tel{
	color: #fff;
	background-color: rgb(95,192,205);
}



